.header {
  text-align: center;
}

.intro {
  text-align: center;
  margin-top: 100px;
  margin-left: 35%;
  margin-right: 35%;
}

.subtitle_1 {
  background-color: rgba(231, 227, 169, 0.281);
  padding: 10px;
  font-size: small;
  border-top: 3px solid rgba(243, 123, 53, 0.575);
}

.subtitle_2 {
  text-align: left;
}

img {
  border-radius: 10px;
}

figcaption {
  opacity: 60%;
  margin-top: 15px;
  font-size: smaller;
}

.aside {
  text-align: left;
  border-left: 3px solid rgba(243, 123, 53, 0.575);
  padding-left: 30px;
}

a {
  color: rgb(39, 192, 192);
}

.aside a {
  margin-top: 10px;
}

.main {
  margin-top: 100px;
  margin-left: 35%;
  margin-right: 35%;
}

.section {
  margin-top: 50px;
}

ul {
  margin-top: px;
}

li {
  margin-top: 20px;
}

footer {
  margin-left: 35%;
  margin-right: 35%;
}

.hr {
  height: 0.5px;
  background-color: rgb(39, 192, 192);
}
